.container {
    display: flex;
    flex-direction: column;
}

.offerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border: 2px solid gray;
    height: 100px;
    padding: 20px;
}

.imageContainer {
    margin-left: 20px;
}

.logoImage {
    border-radius: 30px;
    width: 125px;
    height: 125px;
    padding: 15px;
}

.offerContainer:hover {
    background-color: darkgray;
}

.offerName {
    font-size: 30px;
    margin-right: 40px;
    margin-bottom: 5px;
}
.company {
    font-size: 20px;
    margin-bottom: 5px;
}

.place {
    display: flex;
    align-items: center;
}

.gap {
    margin-right: 10px;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.contButton {
    margin-left: auto;
    margin-right: 40px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px;
}

.contButton:hover {
    background-color: #1976d2;
}

.salary {
    margin-left: auto;
    margin-right: 40px;
    font-size: 25px;
    width: 200px;
}